TAGS
.tern-port
elm-stuff
/elm.js

/slides/beam.vrb
/slides/generic.pdf
/slides/generic.vrb
/slides/auto/generic.el
/slides/generic.synctex.gz

/02_exercises/elm.js
/02_exercises/elm-stuff
/other-stuff/elm-stuff
/other-stuff/elm.js

/03_buggy/elm.js
/03_buggy/elm-stuff

*.dump-hi
/04_snappy/.stack-work
/04_snappy/log
/04_snappy/static/elm.js
/04_snappy/node_modules
/04_snappy/static/Main.js
/04_snappy/elm-stuff
/04_snappy/elm.js

/05_mascot/.stack-work
/05_mascot/static/Main.js
/05_mascot/elm-stuff
