/slides/beam.vrb
/slides/generic.pdf
/slides/generic.vrb
/slides/auto/generic.el
/slides/generic.synctex.gz
/02_exercises/elm.js
/02_exercises/elm-stuff
/other-stuff/elm-stuff
/other-stuff/elm.js
/03_asd/elm-stuff
/03_asd/elm.js
/04_snappy/.stack-work
/04_snappy/log
*.dump-hi
